.google-search {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  background: #ffffff;
  background-color: #23ebe8;
  border-radius: 18px;
  color: aqua;
  padding: 22px 24px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}
.google-search h2 {
  font-size: 25px;
  color: rgb(1, 57, 224);
  margin-bottom: 12px;
  
}
.google-search input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d4d7e6;
  padding: 10px 12px;
  outline: none;
  margin-bottom: 10px;
  overflow: auto;
}
.google-search p {
  padding: 6px 10px;
  border-radius: 8px;
  background: #3cb9ef;
  color: #141693;
  margin-bottom: 6px;
}