.weather{
   
    height: 280px;
    width: 100%;
    background-color: yellowgreen;
    margin: 40px;
    text-align: center;
    color: rgb(130, 2, 249);
    font-size: 15px;
}

.weather .insert{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.weather .insert input{
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: rgb(130, 2, 249);
    text-align: center;
    margin-top: 10px;
}
.weather button{
    font-size: 20px;
    margin-top: 10px;
     color: rgb(130, 2, 249);
     background-color: whitesmoke;
}
.weather .data{
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    font-size: 18px;
}

.theme-button{
    color: blue;
    background-color:aqua ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}
.theme-button button{
    font-size: 25px;
    position: relative;
    bottom: 20px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: bisque;
}

